{% extends 'base.html.twig' %}

{% block title %}Hello SuccessRegisterController!{% endblock %}

{% block body %}
<h1>Confirmation d'enregistrement</h1>
    <div class="success">
        Bravo, vous vous êtes enregistré.
    </div>
{% endblock %}
