//Pallette couleur
$bootDark: $gray-900;
$logoColor: #DEDEDE;
$logoEntrepriseColor: #1b2a33;
$aze: rgba(73, 106, 123, 0.96);


//Police d'écriture
$titleFamily: Goudy Old Style, serif;
$buttonFamily: Consolas,sans-serif;
$text: Roboto Mono, sans-serif;