@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'designsystem';


body {
  background-color: $bootDark;
}
nav {
  button {
    margin-right: 10%;
    height: 70px;
    width: 70px;
  }
}
.acceuil {
  min-width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
  min-height: 77vh;
  overflow-x: hidden;
  img {
    margin: auto;
    max-width: 600px;
    max-height: 200px;
  }
  .button {
    a {
      text-decoration: none;
      color: $bootDark;
      font-family: Consolas,sans-serif;
    }
    margin: auto;
    width: 20%;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: $logoColor;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      a {
        color: $logoColor;
      }
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $bootDark;
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      a {
        color: $logoColor;
      }
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
.fixed-bottom {
  max-height: 150px;
}
h1 {
  font-size: 60px;
  color: $logoColor;
  font-family: Consolas, sans-serif;
  margin: 50px auto;
  text-decoration: underline 1px $logoColor;
  text-align: center;
}
.panel {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: $logoColor;
  width: 90%;
  margin: auto;
  flex-direction: column;
  img {
    width: 500px;
    height: 200px;
    margin: 2% auto auto;
    border-radius: 15%;
  }
  .tableEntreprise {
    margin: 30px;
    table {
      margin: auto;
      width: 80%;
      text-align: center;
      border: 3px solid $bootDark;
      font-family: $text;
      thead {
        font-size: x-large;
        height : 50px;
        line-height: 50px;
      }
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
.structureId {
  background-color: $logoColor;

}
.success {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $logoColor;
  width: 95%;
  margin: auto;
  p {
    text-align: center;
    margin: 10% auto;
    font-family: $text;
  }
  img {
    width: 80%;
    height: 40%;
    margin: auto auto 10%;
  }

}
.formTwig {
  background-color: $logoColor;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.buttonSend {
  margin: auto;
  background-color: #598392;
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttonSend:after {
  background-color: $bootDark;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}
.buttonSend:hover:after {
  transform: translate(0, 0);
}
.buttonSend:active {
  background-color: $bootDark;
  outline: 0;
}
.buttonSend:hover {
  outline: 0;
}

