@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'designsystem';


body {
  background-color: $bootDark;
}
nav {
  width: 95%;
  margin: auto;
  button {
    height: 70px;
    width: 70px;

  }
  a {
    margin: 20px;

  }
  li {
    font-family: $text;
    font-size: 15px;
    color: $logoColor;
    &:hover {
      text-decoration: underline ;
    }
  }

}
.acceuil {
  min-width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
  min-height: 77vh;
  overflow-x: hidden;
  img {
    margin: auto;
    max-width: 600px;
    max-height: 200px;
  }
  .button {
    a {
      text-decoration: none;
      color: $bootDark;
      font-family: $buttonFamily;
    }
    margin: auto;
    width: 20%;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: $logoColor;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      a {
        color: $logoColor;
      }
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $bootDark;
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      a {
        color: $logoColor;
      }
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
.fixed-bottom {
  max-height: 150px;
}
h1 {
  font-family: $titleFamily;
  font-size: 60px;
  color: $logoColor;
  margin: 50px auto;
  text-decoration: underline 2px $logoColor;
  text-align: center;
}
h2 {
  font-family: Goudy Old Style, serif;
  font-size: 40px;
  color: $bootDark;
}
.panel {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: $logoColor;
  width: 90%;
  margin: auto;
  flex-direction: column;
  img {
    width: 500px;
    height: 200px;
    margin: 2% auto auto;
    border-radius: 15%;
  }
  p {
    font-family: $text;
    width: 60%;
    text-align: center;
    margin-bottom: 5%;
  }
  h1 {
    color: $bootDark;
    text-decoration: underline 1px $bootDark;
  }
  h2 {
    margin-top: 4%;

  }
  .tableEntreprise {
    margin: 30px;
    table {
      margin: auto;
      width: 80%;
      text-align: center;
      border: 3px solid $bootDark;
      font-family: $text;
      thead {
        font-size: x-large;
        height : 50px;
        line-height: 50px;
      }
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
.structureId {
  background-color: $logoColor;
}
.liste {
  margin: auto;
  background-color: $logoColor;
  width: 95%;
  .card {
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 17px 5px #000000;
    font-family: $text;
    .card-link{
      text-decoration: none;
      color: $bootDark;
    }
    .card-footer {
      margin-bottom: 5%;

    }
    img {
      max-width: 90%;
      max-height: 30%;
    }
    .barreHorizontale {
      margin: auto;
    }
    h2 {
      font-family: $buttonFamily;
      margin: auto;
      text-align: center;
    }
    h4 {
      margin-bottom: 20px;
      text-align: center;
    }
    .card-title {
      font-family:$titleFamily ;
      text-decoration: none;
      color: $logoEntrepriseColor;
      font-size: 24px;
    }
  .card-footer {
    margin: auto;
   }
  }
}
.success {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $logoColor;
  width: 95%;
  margin: auto;
  p {
    text-align: center;
    margin: 10% auto;
    font-family: $text;
  }
  img {
    width: 80%;
    height: 40%;
    margin: auto auto 10%;
  }

}
.formTwig {
  background-color: $logoColor;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.barreHorizontale {
  width: 80%;
  background-color: $bootDark;
  height: 2px;
  border-radius: 90%;
}
.buttonSend {
  margin: auto;
  background-color: #598392;
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttonSend:after {
  background-color: $bootDark;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}
.buttonSend:hover:after {
  transform: translate(0, 0);
}
.buttonSend:active {
  background-color: $bootDark;
  outline: 0;
}
.buttonSend:hover {
  outline: 0;
}



.toggler-wrapper.style-27 {
  width: 54px;
  height: 30px;
}

.toggler-wrapper.style-27 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:before {
  left: -100%;
}

.toggler-wrapper.style-27 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:after {
  right: 3px;
}

.toggler-wrapper.style-27 .toggler-knob {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.toggler-wrapper.style-27 .toggler-knob:before {
  content: 'No';
  position: absolute;
  width: calc(30px - 6px);
  height: calc(30px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 75%;
  font-weight: 500;
}

.toggler-wrapper.style-27 .toggler-knob:after {
  content: 'Yes';
  position: absolute;
  width: calc(30px - 6px);
  height: calc(30px - 6px);
  border-radius: 50%;
  right: -100%;
  top: 3px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 75%;
  font-weight: 500;
}


@media only screen and (min-width: 1200px) {
  .card {
    max-width: 40%;

  }
}