@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'designsystem';



nav {
  button {
    margin-right: 10%;
    height: 70px;
    width: 70px;
  }
}

body {
  background-color: #b1b1b1;
}



.acceuil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  img {

  }
}
