{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<h1>Bravo</h1>
<div class="success">
    <div class="successExplain">
        <p>Vous avez enregistré un nouveau <b>partenaire</b>. <br>
            Il faut maintenant qu'il se choisisse un nouveau mot de passe pour finaliser son inscription, puis qu'il confirme sont addresse email!
            <br><br>
            Vous pouvez de votre côté ajouter les <u>structures</u> et <u>bâtiments</u> qu'il possède, en réglant leurs <u>permissions</u>.
        </p>
    </div>
    <div class="successButton">
        <button type="button" class="buttonSend"><a href="{{ path('app_add_permission') }}"> Ajout d'un Bâtiment </a></button>
        <button type="button" class="buttonSend"><a href="{{ path('app_add_structure') }}"> Ajout d'une Structure </a></button>
    </div>
    <div class="successPicture">
    </div>
</div>
{% endblock %}
