{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Bravo</h1>
    <div class="success">
        <p>Vous avez ajouté votre bâtiment</p>
        <img src="{{ asset('picture/etoffer-site/sansback/7c447138620f1fcdb0aa1db2cab849ac-removebg-preview.png') }}" alt="Image principale d'acceuil">
    </div>
{% endblock %}
