{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Bravo</h1>
    <div class="success">
        <p>Vous avez ajouté votre bâtiment</p>
        <img src="{{ asset('picture/etoffer-site/images-success.jpg') }}" alt="Image principale d'acceuil">
    </div>
{% endblock %}
