{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Bravo</h1>
    <div class="success">
        <p>Vous avez ajouté votre structure, vous pouvez maintenant <br> ajouter les batiments qu'il posséde</p>
    </div>
{% endblock %}
