{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<div class="acceuil">
    <img src="{{ asset('picture/logo-marque/dark-boot-marque.png') }}" alt="Image principale d'acceuil">
    <button type="button" name="button" class="btn bg-dark"><a href="{{ path('app_panel') }}">Acceuil</a></button>
</div>

{% endblock %}
