{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}
<div class="panel">
    <img src="{{ asset('picture/logo-marque/dark-boot-marque.png') }}" alt="Image principale d'acceuil">



</div>
{% endblock %}
