<h1>Bonjour! Des modifications ont été apportées !</h1>

<p>Vous avez du changement sur votre application, plus particulièrement dans une de vos structures. <br>
        Allez y faire un tour. </p> <br>

<a href="{{  path('app_home') }}">Lien du site.</a> <br>

